section.section.video-section
    video.video(
        id=`video`
        controls=true
        controlsList="nodownload" 
        width="100%"
        height="100%"
        muted="muted"
        loop
        type="video/mp4"
        autopictureinpicture
        data-scroll
        poster="~/assets/images/poster.jpg"
        playsinline
    )